* {
  margin: 0%;
  padding: 0%;
}

.fileupload-container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(62, 62, 62);
}

.drop-zone {
  width: 500px;
  height: 200px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  color: #cccccc;
  border: 3px dashed rgba(128, 128, 128, 0.522);
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.522);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  text-align: center;
}

img {
  width: 40px;
  padding-right: 1rem;
}
